body {
    margin: auto;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgb(224, 224, 224);
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}


.container .box {
    margin: 0;
    width: 55vw;
    height: 1680px;
    text-align: justify;
    font-size: 21px;
    border-radius: 15px;
    text-decoration: none;
}



@media screen and (max-width: 600px) {
    .container .box{
        text-overflow: scroll;
        width: 100%;
        padding: 30px 15px 0 15px;
    }
}

